[Desktop Entry]
Version=1.0
Type=Application
Categories=Application;Network;
Terminal=false
StartupNotify=true
Icon=/usr/share/icons/hicolor/128x128/apps/LRZ_Sync_Share.png
Exec=/usr/share/LRZ_Sync_Share/LRZ_Sync_Share-Client.sh
Name=LRZ Sync+Share
GenericName=LRZ Sync+Share
Name[de_DE]=LRZ Sync+Share
GenericName[de_DE]=LRZ Sync+Share
